USE [master]
GO
/****** Object:  Database [Covid19Info]    Script Date: 6/3/2021 1:53:45 PM ******/
CREATE DATABASE [Covid19Info]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Covid19Info', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\Covid19Info.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Covid19Info_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\Covid19Info_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Covid19Info].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Covid19Info]
GO
/****** Object:  Table [dbo].[Admini]    Script Date: 6/3/2021 1:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admini](
	[Id] [int] NOT NULL,
	[Ime] [nvarchar](100) NULL,
	[KorisnickoIme] [nvarchar](100) NULL,
	[Email] [nvarchar](max) NULL,
	[Lozinka] [nvarchar](50) NULL,
	[Telefon] [nvarchar](100) NULL,
 CONSTRAINT [PK_Admini] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BrojZarazenihOsoba]    Script Date: 6/3/2021 1:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrojZarazenihOsoba](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BrojTestiranihOsobaDnevno] [int] NULL,
	[BrojPotvrdjenihSlucajeva] [int] NULL,
	[BrojSmrtnihSlucajeva] [int] NULL,
	[UkupanBrojTestiranihSlucajeva] [int] NULL,
	[DatumTestiranja] [datetime] NULL,
	[DeoNaKojiSePodaciOdnose] [nvarchar](200) NULL,
 CONSTRAINT [PK_BrojZarazenihOsoba] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Komentari]    Script Date: 6/3/2021 1:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Komentari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KorisnickoIme] [nvarchar](100) NULL,
	[TekstKomentara] [nvarchar](max) NULL,
	[IdVest] [int] NULL,
 CONSTRAINT [PK_Komentari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnici]    Script Date: 6/3/2021 1:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[NaslovPoruke] [nvarchar](max) NULL,
	[Poruka] [nvarchar](max) NULL,
 CONSTRAINT [PK_Korisnici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slajder]    Script Date: 6/3/2021 1:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slajder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Podnaslov] [nvarchar](max) NULL,
	[PodnaslovAl] [nvarchar](max) NULL,
	[Sazetak] [nvarchar](max) NULL,
	[SazetakAl] [nvarchar](max) NULL,
	[Tekst] [nvarchar](max) NULL,
	[TekstAl] [nvarchar](max) NULL,
	[Slika] [nvarchar](max) NULL,
 CONSTRAINT [PK_Slajder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vesti]    Script Date: 6/3/2021 1:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vesti](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naslov] [nvarchar](max) NULL,
	[NaslovAl] [nvarchar](max) NULL,
	[Datum] [datetime] NULL,
	[Sazetak] [nvarchar](max) NULL,
	[SazetakAl] [nvarchar](max) NULL,
	[Tekst] [nvarchar](max) NULL,
	[TekstAl] [nvarchar](max) NULL,
	[Slika] [nvarchar](max) NULL,
	[Imunizacija] [int] NULL,
 CONSTRAINT [PK_Vesti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
