<!-- ======= Services Section ======= -->
<div id="services" class="services-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline services-head text-center">
                    <h2 style="margin-top:100px;">O vakcinama</h2>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <!-- Start Left services -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-eyedropper"></i>
                            </a>
                            <h4>Pfizer - BioNTech</h4>
                            <p>
                                Pfizer-BioNTech vakcina sadrži iRNK u lipidnom omotaču koji omogućava stvaranje „spike“ proteina u ćelijama  i tako dovodi do stvaranja zaštitnog imuniteta. Važno je napomenuti da se iRNK ne umnožava i ne ugrađuje u genom ćelije jer se brzo razgrađuje  u organizmu. Vakcinacija se sprovodi  se dve odvojene doze vakcine u razmaku od najmanje 3 nedelje kod osoba uzrasta 16 godina i starijih. Prema zasad dostupnim podacima nakon 1-4 nedelje od primljene druge doze vakcine stvara se imunitet koji je efikasan 95% u sprečavanju bolesti COVID-19
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-eyedropper"></i>
                            </a>
                            <h4>Oksford - AstraZeneka</h4>
                            <p>
                                AstraZeneca COVID-19 („oksfordska“) vakcina je, slično ruskoj, vektorska vakcina u kojoj je rekombinantni adenovirus (poreklom od šimpanze) nosač za gen koji omogućava stvaranje „spike“ proteina i dovodi do stvaranja zaštitnog imuniteta. Vakcinacija je namenjena odraslima (≥18 godina). Sprovodi  se sa dve odvojene doze vakcine u razmaku od 12 nedelja. Prema zasad dostupnim podacima nakon 1-4 nedelje od primljene druge doze vakcine stvara se imunitet koji je efikasan 60-90% u sprečavanju bolesti COVID-19. U toku su studije na većem broju ispitanika koje treba da obezbede više podataka o efektivnosti vakcine.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-eyedropper"></i>
                            </a>
                            <h4>Moderna</h4>
                            <p>
                                Novi članak objavljen u naučnom časopisu "New England Journal of Medicine" pokazuje da dve doze vakcine američke kompanije Moderna protiv kovida-19 proizvode antitela i nakon šest meseci.
                                Istraživanje se nastavlja kako bi se videlo koliko drugo se antitela mogu detektovati kod vakcinisanih osoba.
                                Visok nivo antitela otkriven je u svim starosnim grupama koje su učestvovale u kliničkim ispitivanjima. Bilo ih je više kod mlađih nego kod starijih osoba.
                                Stručnjaci će nastaviti da prate učesnike kako bi ustanovili kada zaštita prestaje i za koliko bi se mogla produžiti dodatnim dozama vakcine.
                                Druga studija pokazala je da je vakcina američkog Fajzera efikasna 92 odsto nakon šest meseci.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-eyedropper"></i>
                            </a>
                            <h4>Sinofarm</h4>
                            <p>
                                Sinopharm („kineska“ vakcina) je inaktivisana vakcina proizvedena tehnologijom prethodno već korišćenom u razvoju vakcina (npr. vakcina protiv dečje paralize, besnila). Vakcina sadrži mrtvi virus SARS CoV2 koji je izgubio sposobnost razmnožavanja u ljudskoj ćeliji ali zato stvara zaštitni imunitet. Vakcinacija je namenjena odraslima (≥18 godina). Sprovodi  se sa dve odvojene doze vakcine u razmaku od 2-4 nedelje. Nema publikovanih podataka u naučnoj literaturi, ali prema zasad dostupnim podacima iz Kine, nakon 1-4 nedelje od primljene druge doze vakcine stvara se imunitet koji je efikasan ≈80% u sprečavanju bolesti COVID-19. U toku su studije na većem broju ispitanika koje treba da obezbede više podataka o efektivnosti vakcine.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
            <!-- End Left services -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-eyedropper"></i>
                            </a>
                            <h4>Sputnjik V</h4>
                            <p>
                                Sputnik V (Gam-COVID-Vac) („ruska“ vakcina) je vektorska vakcina u kojoj je rekombinantni adenovirus nosač za gen koji omogućava stvaranje „spike“ proteina koji dovodi do stvaranja zaštitnog imuniteta. Adenovirus je izmenjen tako da se ne umnožava u organizmu. Prva i druga doza vakcine se razlikuju samo u odnosu na nosač (adenovirus serotip 26 u prvoj odnosno serotip 5 u drugoj dozi). Vakcinacija je namenjena odraslima (uzrast ≥18 godina). Prema nacionalnim preporukama, vakcinacija se sprovodi sa dve odvojene doze vakcine u razmaku od najmanje 3 nedelje. Prema zasad dostupnim podacima nakon 1-4 nedelje od primljene druge doze vakcine stvara se imunitet koji je efikasan ≈92% u sprečavanju infekcije a 100% protiv teške bolesti COVID-19. U toku su studije na većem broju ispitanika koje treba da obezbede više podataka o efektivnosti vakcine.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
            <!-- End Left services -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-eyedropper"></i>
                            </a>
                            <h4>Sinovak</h4>
                            <p>
                                U saopštenju SZO se navode rezultati istraživanja vezanih za Sinovak vakcinu koja, shodno tim podacima, sprečava 51 posto pojava simptomatskih oboljenja, a pruža stopostotnu zaštitu od težih oblika obolijevanja i hospitalizacije.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
        </div>
    </div>
</div><!-- End Services Section -->