@model Covid19Info.ViewModels.VestiViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VestiViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NaslovAl" class="control-label"></label>
                <input asp-for="NaslovAl" class="form-control" />
                <span asp-validation-for="NaslovAl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sazetak" class="control-label"></label>
                <input asp-for="Sazetak" class="form-control" />
                <span asp-validation-for="Sazetak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SazetakAl" class="control-label"></label>
                <input asp-for="SazetakAl" class="form-control" />
                <span asp-validation-for="SazetakAl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tekst" class="control-label"></label>
                <input asp-for="Tekst" class="form-control" />
                <span asp-validation-for="Tekst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TekstAl" class="control-label"></label>
                <input asp-for="TekstAl" class="form-control" />
                <span asp-validation-for="TekstAl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imunizacija" class="control-label"></label>
                <input asp-for="Imunizacija" class="form-control" />
                <span asp-validation-for="Imunizacija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

