@model Covid19Info.Models.BrojZarazenihOsoba

@{
    ViewData["Title"] = "Edit";
}

<h1  style="margin-top:10%; margin-left:5%; margin-right:5%;">Izmeni</h1>

@if (@ViewBag.Msg != null)
{
    <h4 style="color:green; margin-top:2%">@ViewBag.Msg</h4>
}

<hr />
<div class="row" style="margin-top:2%; margin-left:5%; margin-right:5%;margin-top:2%">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BrojTestiranihOsobaDnevno" class="control-label"> Broj testiranih osoba dnevno</label>
                <input asp-for="BrojTestiranihOsobaDnevno" class="form-control" />
                <span asp-validation-for="BrojTestiranihOsobaDnevno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojPotvrdjenihSlucajeva" class="control-label">Broj potvrdjenih slucajeva</label>
                <input asp-for="BrojPotvrdjenihSlucajeva" class="form-control" />
                <span asp-validation-for="BrojPotvrdjenihSlucajeva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojSmrtnihSlucajeva" class="control-label">Broj smrtnih slucajeva</label>
                <input asp-for="BrojSmrtnihSlucajeva" class="form-control" />
                <span asp-validation-for="BrojSmrtnihSlucajeva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UkupanBrojTestiranihSlucajeva" class="control-label">Ukupan broj testiranih slucajeva</label>
                <input asp-for="UkupanBrojTestiranihSlucajeva" class="form-control" />
                <span asp-validation-for="UkupanBrojTestiranihSlucajeva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumTestiranja" class="control-label">Datum testiranja</label>
                <input asp-for="DatumTestiranja" class="form-control" />
                <span asp-validation-for="DatumTestiranja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeoNaKojiSePodaciOdnose" class="control-label">Deo na koji se podaci odnose</label>
                <select asp-for="DeoNaKojiSePodaciOdnose" class="form-control">
                    <option value="Strpce">Strpce</option>
                    <option value="Kosovo">Kosovo</option>
                    <option value="Srbija">Srbija</option>
                </select>
                <span asp-validation-for="DeoNaKojiSePodaciOdnose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sacuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-top:5%">
    <a asp-action="Index">Nazad na listu</a>
</div>

